.container {
  padding: 0 0.5rem;
  max-width: 960px;
  margin: auto;
}

.gameDetail h1 {
  padding: 20px 0;
}

.gameDetail img {
  width: 100%;
  height: auto;
}

.bulletInfo {
  display: flex;
  flex-direction: column;
}
